# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
*.tif
# RStudio files
.Rproj.user/
*.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
# log
log/
# output
output/
# data
data/
#predata/
# document
logistics/
nakaya.pdf
